:root {
    --color-one: #FFBF00;
    --color-two: #ECCA9C;
    --color-three: #8C6A5D;
    --color-four: #FF204E;
    --color-five: #5F374B;
}


/* hero section  */
.hero-section {
    text-align: center;
    background-color: var(--color-two);
    padding-top: 30px;
    padding-bottom: 50px;
}

.container {
    width: 60%;
    margin: auto;

}

.hero-section h1 {
    font-size: 50px;
    opacity: 0.6;
    margin-bottom: -45px;
    margin-top: 10px;
    padding: 0;
    color: var(--color-five);
    text-align: center;
    text-transform: uppercase;
}

.hero-section h3 {
    font-size: 25px;
    color: var(--color-four);
    margin-top: 15px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-family: "Caveat", cursive;
    color: #5F374B;
    font-size: 20px;
    margin: 0px;
}


.container img {
    position: absolute;
}

.cake {
    width: 250px;
    top: 64%;
    left: 0%;
}

.jelly {
    width: 250px;
    right: 0%;
    top: 65%;
}

.dough {
    width: 285px;
    right: 0%;
    top: 27%;
}

.cup {
    width: 130px;
    left: 10%;
    top: 25%;
}