:root {
    --color-one: #FFBF00;
    --color-two: #ECCA9C;
    --color-three: #8C6A5D;
    --color-four: #FF204E;
    --color-five: #5F374B;
}


.hero-section {
    background-color: var(--color-two);

}

.hero-section h1 {
    font-size: 70px;
    text-transform: uppercase;
    opacity: 0.6;
    padding: 0;
    color: var(--color-five);
    text-align: center;
    margin: 0;
}

.hero-section h3 {
    font-size: 50px;
    color: var(--color-four);
    margin-top: -70px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

/* start main  */
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 200px;
}

.main .back {
    background-color: #8f848445;
    display: flex;
    align-items: center;
    border-radius: 18px;
    padding: 40PX 20px;
    /* transform: rotate(10deg); */
}

/* start table  */
table {
    font-family: "Caveat";
    font-size: 30px;
    color: var(--color-five);
}

table .plus {
    font-size: 20px;
    color: #FF9A00;
}

table .plus:hover {
    color: var(--color-five);
    cursor: pointer;
}

table .price {
    color: var(--color-four);
}

/* start imgs  */
.main img {
    width: 150px;
    position: absolute;
}

.main .left {
    transform: rotate(10deg);
}

.main .middle {
    transform: rotate(-8deg);
}

.main .right {
    transform: rotate(5deg);
}


.main .org {
    left: 30%;
    width: 200px;
    top: 80%;
}

.main .dough {
    transform: translate(-70%, -90%);
}

.main .apple {
    top: 70%;
    left: 60%;
    width: 200px;
}


.main .muff {
    top: 80%;
    left: 5%;
    width: 200px;

}

.main .cup {
    top: 30%;
    left: 80%;
    width: 200px;
    transform: rotate(-30deg);
}